In [3]:
num = 10

In [4]:
print(num)

10

In [5]:
name = input("Enter your name: ")
age = input("Enter your age: ")

Enter your name:  Biniyam
Enter your age:  20

In [7]:
print(f"Name: {name}\nAge: {age}")

Name: Biniyam
Age: 20

In [9]:
print("Name: {}\nAge: {}".format(name,age))

Name: Biniyam
Age: 20

In [10]:
names = ["Felah","Biniyam", "heldu"]

In [21]:
for x in names:
    print("Name: {}".format(x))

Names: Felah
Names: Biniyam
Names: heldu

In [28]:
number = 154.258
print(f"Height: {number.2f}".format(number))

SyntaxError: invalid decimal literal (3226734331.py, line 2)